.lucideCopy_14_198 {
  display: flex;
  width: 16px;
  height: 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  opacity: 1;
}

.menuItem_14_199 {
  flex: 1 0 0;
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 1);

  .menuItem {
    font-weight: 400;
  }
}

.⌘e_14_208 {
  align-self: stretch;
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: 0px;
  color: rgba(124, 124, 124, 1);

  .⌘e {
    font-weight: 400;
  }
}

.shortcut_14_207 {
  display: flex;
  padding: 0px 4px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  border: 1px solid #d0d0d0;
  opacity: 1;
}
/* Variants */

.appDropdown_14_197 {
  display: flex;
  height: 32px;
  padding: 8px;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  opacity: 1;
}

.lucideCopy_14_198 {
  display: flex;
  width: 16px;
  height: 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  opacity: 1;
}

.vector_i_14_198_1_65 {
  width: 13.333px;
  height: 13.333px;
  flex-shrink: 0;
  stroke-width: 0.667px;
  stroke: #000;
  opacity: 1;
}

.menuItem_14_199 {
  flex: 1 0 0;
  color: #000;
  font-family: var(--font-inter);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 1;
}

.shortcut_14_207 {
  display: flex;
  padding: 0px 4px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  border: 1px solid #d0d0d0;
  opacity: 1;
}

.⌘e_14_208 {
  align-self: stretch;
  color: #7c7c7c;
  font-family: var(--font-inter);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 1;
}

.appDropdown_14_197:hover {
  background: #ededed;
}
