/*  */

.lucideCopyPlus_1_119 {
  display: flex;
  width: 16px;
  height: 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  opacity: 1;
}
/* Children Css */

.vector_1_117 {
  width: 13.333px;
  height: 13.333px;
  flex-shrink: 0;
  stroke-width: 0.667px;
  stroke: #000;
  opacity: 1;
}
