/*  */

.lucideHeading2_15_464 {
  position: relative;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  opacity: 1;
}
/* Children Css */

.vector_15_463 {
  width: 11.333px;
  height: 8px;
  flex-shrink: 0;
  stroke-width: 0.667px;
  stroke: #000;
  opacity: 1;
}
