/*  */

.lucideTrash2_14_187 {
  display: flex;
  width: 16px;
  height: 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  opacity: 1;
}
/* Children Css */

.vector_14_186 {
  width: 12px;
  height: 13.333px;
  flex-shrink: 0;
  stroke-width: 0.667px;
  stroke: #000;
  opacity: 1;
}
