/*  */

.lucideSettings_15_261 {
  display: flex;
  width: 16px;
  height: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  opacity: 1;
}
/* Children Css */

.vector_15_260 {
  width: 12.023px;
  height: 13.333px;
  flex-shrink: 0;
  stroke-width: 0.667px;
  stroke: #000;
  opacity: 1;
}
